<%= form_with model:comic, local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control comic_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :synopsis, class: 'form-control comic_synopsis' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn-success' %>
  </div>
<% end %>
