<table class='table table-hover table-inverse' >
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>あらすじ</th>
      <th clospan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% comics.each do |comic| %>
      <tr>
        <td>
          <% if comic.image.attached? %>
            <%= image_tag comic.image, size: "80x80" %>
          <% else %>
            <%= image_tag 'no_image', size: "80x80" %>
          <% end %>
        </td>
        <td><%= link_to comic.title, comic, class: "comic_#{comic.id}" %></td>
        <td><%= comic.synopsis %></td>
        <td>コメント数: <%= comic.comments.count %></td>
        <td><%= render "public/favorites/btn", comic: comic %></td>
      </tr>
    <% end %>
  </tbody>
</table>