<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>あらすじ</th>
    </tr>
  </thead>

  <tbody>
    <% @comics.each do |comic| %>
      <tr>
       <td>
          <% if comic.image.attached? %>
            <%= image_tag comic.image, size: "80x80" %>
          <% else %>
            <%= image_tag 'no_image', size: "80x80" %>
          <% end %>
        </td>
        </td>
        <td class="text-left">
          <%= link_to admin_comic_path(comic), 'data-turbolinks': false do %>
          <%= comic.title %>
          <% end %>
        </td>
        <td class="text-left">
          <%= comic.synopsis %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>